<div class="row">
<% flash.each do |key, value| %>
  <div id="error_explanation"><%= value %></div>
<% end %>
  <div class="bar-header col-sm-12 col-md-12">
      <h2>Add LinkedIn Contact</h2>
  </div>
  <div class="col-sm-12 col-md-6">
    <form action="/contacts/create_linkedin" method="post" accept-charset="utf-8">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="edit-pro-info">
        <div class="form-group contact">
          <fieldset class="form-group contact">
            <input type="text" name="username" placeholder="username" >
          </fieldset>
        </div>
        <input type="submit">
      </div>
    </form>
  </div>
</div>

